body {
    color: #000;
}

.header {
    .logo{
        width: 120px;
        height: 82px;
    }
}

.headline {
    .caption {
      position: relative;
      width: 350px;
      .image {
          img{
              width: 100%;
          }
      }
      .title {
          width
      }
    }
}